/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  
}

/* Style for the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
}

input[type=username]{
  background-color: #000;
}

/* Style for the form container */
.container {
  background-color: #f1f1f1;
  padding: 20px;
  width: 300px;
  margin: auto;
}

/* Message box that shows password requirements */
#message {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

/* Style for each requirement message */
#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Valid input styles - green color with checkmark */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Invalid input styles - red color with X mark */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

